[submodule "src/main/java/frc/robot/RevMaxSwerve"]
	path = src/main/java/frc/robot/RevMaxSwerve
	url = git@github.com:FRC3184/RevMaxSwerve.git
[submodule "src/main/java/frc/robot/TwoWheelShooterRevNeo"]
	path = src/main/java/frc/robot/TwoWheelShooterRevNeo
	url = git@github.com:FRC3184/TwoWheelShooterRevNeo.git
[submodule "src/main/java/frc/robot/TwoMotorIntakeRevNeo"]
	path = src/main/java/frc/robot/TwoMotorIntakeRevNeo
	url = git@github.com:FRC3184/TwoMotorIntakeRevNeo.git
[submodule "src/main/java/frc/robot/OneMotorIntakeRevNeo"]
	path = src/main/java/frc/robot/OneMotorIntakeRevNeo
	url = https://github.com/FRC3184/OneMotorIntakeRevNeo.git
