[submodule "src/main/java/frc/robot/RevMaxSwerve"]
	path = src/main/java/frc/robot/RevMaxSwerve
	url = git@github.com:FRC3184/RevMaxSwerve.git
[submodule "src/main/java/frc/robot/TwoWheelShooterRevNeo"]
	path = src/main/java/frc/robot/TwoWheelShooterRevNeo
	url = git@github.com:FRC3184/TwoWheelShooterRevNeo.git
[submodule "src/main/java/frc/robot/TwoMotorIntakeRevNeo"]
	path = src/main/java/frc/robot/TwoMotorIntakeRevNeo
	url = git@github.com:FRC3184/TwoMotorIntakeRevNeo.git
[submodule "src/main/java/frc/robot/OneMotorIntakeRevNeo"]
	path = src/main/java/frc/robot/OneMotorIntakeRevNeo
	url = https://github.com/FRC3184/OneMotorIntakeRevNeo.git
[submodule "src/main/java/frc/robot/OneMotorNeoSubsystem"]
	path = src/main/java/frc/robot/OneMotorNeoSubsystem
	url = https://github.com/FRC3184/OneMotorNeoSubsystem.git
[submodule "src/main/java/frc/robot/WinchTwoMotorNeo"]
	path = src/main/java/frc/robot/WinchTwoMotorNeo
	url = https://github.com/FRC3184/WinchTwoMotorNeo.git
[submodule "src/main/java/frc/robot/HangTwoMotorNeo"]
	path = src/main/java/frc/robot/HangTwoMotorNeo
	url = https://github.com/FRC3184/HangTwoMotorNeo.git
